*.[oa]
# Compiled Static libraries
*.a
*.config
*.dylib
*.la
*.lai
*.lo
*.nhdr
*.nii.gz
*.nrrd
# Compiled Object files
*.o
*.obj
*.orig
*.pyc
*.raw
*.sample
*.slo
# Compiled Dynamic libraries
*.so
*.swp
*ExternalSources*
# emacs backups
*~
.DS_Store
.ExternalData_MD5*
.RData
.RDataTmp
.Rhistory
._*
.clang_complete
.emacs.desktop
.svn
CMakeCache.txt
CMakeFiles/*
crash*
## IntelliJ files that are not sharable.
##  https://intellij-support.jetbrains.com/hc/en-us/articles/206544839-How-to-manage-projects-under-Version-Control-Systems
workspace.xml
tasks.xml
## IntelliJ output file path
out/
